.input-field__edit--email {
  display: flex;
  justify-content: space-between;
}

.input-field__website--button {
  /* */
}
.website-button {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  border: none;
  background: none;
  color: rgb(52, 52, 195);
  cursor: pointer;
}

.input-field__container {
  display: flex;
  justify-content: space-between;
}

#phone-container {
  padding: 0;
  height: 1.5rem;
}

.input-field__phone {
  width: 15rem;
}

/* .input-field__phone-type {
  width: 10rem;
} */

#phoneType {
  width: 15rem;
}

/* #month {
  width: 10rem;
} */

select {
  width: 15rem;
}
