.card-item__container {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: 0 0.5rem;
}

.card-item {
  padding-bottom: 1rem;
}

.card-item__header {
  display: flex;
  justify-content: space-between;
}
.card-item__title {
  margin-top: 0.3rem;
}
/* .card-item__content-container {
  
} */
/* .card-item__content {
  
} */
/* .card-item__content-job--title {
  
} */
/* .card-item__content-location {
  
} */
/* .card-item__links {
  
} */
/* .card-item__link {
  
} */
/* .card-item__button {

} */

.access-form__buttons {
  display: flex;
  justify-content: space-between;
}

.access-form__button {
  padding: 0 0 0 1rem;
}

/* .access-form__add-profile {

} */
/* .access-form__edit-button {

} */

.edit {
  padding-right: 0.5rem;
}

#edit-icon {
  border: none;
  outline: none;
  color: #283441;
  background: #fff;
  padding: 0;
  margin: 0;
  width: 18px;
}

.profile-dropdown {
  position: relative;
}

.card-item__button {
  background: none;
  border: none;
  color: rgb(58, 58, 175);
  font-weight: 500;
  padding: 0;
}

.card-items__list--items {
  list-style: none;
  padding: 0;
}
.card-item__list--item {
  /* */
}

.card-item__profile--link {
  font-weight: 400;
}
