.profile-root {
  padding: 1rem;
  background: #eee;
  display: flex;
  justify-content: space-around;
}

.profile-container {
  padding: 0 1rem;
  width: 70%;
}

.profile-intro--container {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#intro-container {
  margin: 0;
  padding: 0;
}

#intro-display {
  padding: 1rem;
}

.header {
  display: flex;
  padding: 15% 2rem;
  background: url('../../components/Image/grey-blend.jpeg') no-repeat;
  background-size: cover;
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); */
}

.access-profile__display {
  display: flex;
  justify-content: space-between;
}

.forms-container {
  position: relative;
  /* border: 1px solid silver; */
  padding: 1rem;
  margin: 1rem 0;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.form {
}

.form-header {
  display: flex;
  justify-content: space-between;
}

.header-greeting {
}

.header-pic {
  width: 8rem;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-top: -104px;
  margin-left: 1rem;
}

.input-field {
  padding: 0.2rem 0;
}

.input-field input {
  width: 100%;
}

textarea {
  width: 100%;
}

.edit-button {
  background: #fff;
  color: #283441;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.button-save {
  padding: 0.2rem 1rem;
  background: #283441;
  border-radius: 3px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.submit-buttons {
  display: flex;
  justify-content: space-between;
}

.clear-button {
  padding: 0.2rem 1rem;
  background: #cd2b2c;
  border-radius: 3px;
  color: #fff;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}

.aside {
  width: 30%;
}

#education {
  margin-bottom: 0;
}

#experience {
  margin-top: 0;
}
