.profile-root {
  padding: 1rem;
  background: #eee;
  display: flex;
  justify-content: space-around;
}

.profile-container {
  padding: 0 1rem;
  width: 70%;
}

.profile-intro--container {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#intro-container {
  margin: 0;
  padding: 0;
}

#intro-display {
  padding: 1rem;
}

.header {
  display: flex;
  padding: 15% 2rem;
  background: url('../../components/Image/grey-blend.jpeg') no-repeat;
  background-size: cover;
}

.access-profile__display {
  display: flex;
  justify-content: space-between;
}

.forms-container {
  position: relative;
  /* border: 1px solid silver; */
  padding: 1rem;
  margin: 1rem 0;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.form-header {
  display: flex;
  justify-content: space-between;
}

.header-pic {
  width: 8rem;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-top: -104px;
  margin-left: 1rem;
}

.aside {
  width: 30%;
}

#education {
  margin-top: 0;
}

#experience {
  margin-bottom: 0;
}
